<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Status da Eleição:</title>
  </head>
  <body>
    <div class="container-fluid" style="background-color: darkgrey;width: 100%;height: 150px;margin-bottom: 150px">
      <div class="row" >
              <div >
                      <img class="img-responsive" src="./img/logo.png" alt="Card image cap" width="200px" style="position:absolute;left:40%"   />
          <h1 style="position:absolute;left:35%;top:100px;">Apuração de Votos!</h1>
                    </div>
      </div>
  </div>

  <div>
    <h2 style="position:absolute;left:40%;top:200px;">Os mais votatos são:</h2>
    <% for (let index = 0; index < 3; index++){ %>
      <div class="col" align="center">
          <img class="img-responsive" src="./img/<%= candidato[index].foto %>" alt="Card image cap"   />
          <div class="card-body">
               <h5 class="card-title"><%=candidato[index].nome%></h5>
               <p class="card-text">Qnt. Votos: <%=candidato[index].voto%></p>
               
             </div>
         </div>
      <% } %>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>